@import "tailwindcss";

@theme {
  --color-dark: #2b2f73;
  --color-light: #ffffff;
  --color-green: #52ecc5;
  --color-lilac: #a19cff;
  --text-color-dark: #2b2f73;
  --text-color-light: #ffffff;
}

@layer components {
  .button {
    @apply bg-green text-dark rounded-md p-2;
  }
  .card {
    @apply bg-dark text-light dark:bg-light dark:text-dark rounded-4xl p-4  max-w-90 h-60 shadow-lg;
  }
  .select-btn {
    @apply bg-lilac text-dark rounded-md p-2 w-full text-center;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl;
  }
  p {
    @apply text-base;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}
@utility flex-center-column {
  @apply flex items-center justify-around flex-col gap-2;
}
@utility flex-center-column-reverse {
  @apply flex items-center justify-around flex-col-reverse gap-2;
}

:root {
  --background: #ffffff;
  --foreground: #2b2f73;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2f73;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: --font-poppins, sans-serif;
}
