@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2b2f73;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --foreground: var(--color-light);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: --font-poppins, sans-serif;
}

@theme {
  --color-dark: #2b2f73;
  --color-light: #ffffff;
  --color-green: #52ecc5;
  --color-dark-green: #2d836d;
  --color-lilac: #a19cff;
  --color-dark-lilac: #7a7bff;
  --text-color-dark: #2b2f73;
  --text-color-light: #ffffff;
}

@layer components {
  .button {
    @apply bg-green text-dark rounded-md p-2 min-w-60;
    &:hover {
      @apply bg-dark-green text-light transition-all duration-300;
    }
  }
  .start-card {
    @apply bg-dark text-light dark-mode-style rounded-4xl md:max-w-150 max-w-80 shadow-lg min-h-60 flex-center-column;
  }
  .score-card {
    @apply bg-dark text-light dark-mode-style rounded-4xl md:min-w-120 min-w-85 shadow-lg min-h-60 flex-center-column p-5;
  }
  .question-card {
    @apply bg-dark text-light dark-mode-style rounded-4xl pt-5 md:min-w-150 w-85 min-h-60;
  }
  .answer-btn {
    @apply border-1 border-dark dark:border-light  rounded-lg p-2 w-full text-center min-w-85 md:min-w-150;
    &:hover {
      @apply bg-lilac text-dark  duration-300;
    }
  }
  .results-btn {
    @apply flex justify-end  gap-20 border-1 border-dark dark:border-light p-2 w-full text-center min-w-80 md:min-w-115 md:justify-around;
  }
  .pagination-btns,
  .continue-btn {
    @apply border-1 border-dark dark:border-light p-3 flex items-center;
    &:hover {
      @apply bg-dark dark:bg-lilac dark:text-dark text-light transition-all duration-300;
      &:disabled {
        @apply text-gray-500 border-gray-500 bg-gray-200 dark:bg-gray-400 dark:text-gray-600;
      }
    }
  }
  .header {
    @apply flex-space-between p-5 lg:text-5xl mb-5;
  }
  .results-span {
    @apply border-1 border-dark dark:border-light p-3 rounded-md min-w-50 inline-flex justify-between;
  }
  .question-card-icons {
    @apply text-4xl;
  }
  .question-card-header {
    @apply flex-center gap-4 p-5 mb-5 pb-5 border-b-1 border-light dark:border-dark;
  }

  .category-list {
    @apply grid grid-cols-3 gap-4 md:grid-cols-4 p-10;
  }
  .category-items {
    @apply flex flex-col items-center gap-5 text-center;
  }
  .category-icons {
    @apply flex-center p-4 border-1 rounded-lg text-center md:w-30 md:h-30;
    &:hover {
      @apply bg-lilac text-dark transition-all duration-300;
    }
  }
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl text-center p-7;
  }
  h3 {
    @apply text-2xl text-center;
  }
  h4 {
    @apply text-3xl text-center mb-5 pb-5;
  }
  p {
    @apply md:text-base break-words overflow-hidden text-ellipsis line-clamp-6 p-5;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}
@utility flex-center-column {
  @apply flex items-center justify-center flex-col gap-5;
}
@utility flex-space-between {
  @apply flex items-center justify-between;
}
@utility flex-space-around {
  @apply flex items-center justify-around;
}
@utility dark-mode-style {
  @apply dark:bg-light dark:text-dark dark:border-light;
}
